<header class="nhsx-header" role="banner">
  <div class="nhsuk-width-container nhsx-header__inner">
    <span class="nhsx-header__title">NHS England Data Science PhD Internship</span>
    <nav aria-label="Primary navigation">
      <ul class="nhsx-nav-list">
        <li{% if page.url == '/' %} class="nhsx-nav-item--current"{% endif %}>
          <a href="{{ '/' | relative_url }}">Home</a>
        </li>
        <li{% if page.url == '/overview.html' %} class="nhsx-nav-item--current"{% endif %}>
          <a href="{{ '/overview.html' | relative_url }}">Overview</a>
        </li>
        <li{% if page.url == '/projects.html' %} class="nhsx-nav-item--current"{% endif %}>
          <a href="{{ '/projects.html' | relative_url }}">Projects</a>
        </li>
        <li{% if page.url == '/completed.html' %} class="nhsx-nav-item--current"{% endif %}>
          <a href="{{ '/completed.html' | relative_url }}">Completed</a>
        </li>
        <li{% if page.url == '/waysofworking.html' %} class="nhsx-nav-item--current"{% endif %}>
          <a href="{{ '/waysofworking.html' | relative_url }}">Ways of Working</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
