      <nav class="nhsuk-side-navigation" aria-label="Side navigation">
        <ul class="nhsuk-side-navigation__list" style="list-style-type: none;">
          <li class="nhsuk-side-navigation__item nhsuk-side-navigation__item--active">
            <a href="active.html" aria-current="location">Active</a>
          </li>
  
          <li class="nhsuk-side-navigation__item">
            <a href="open.html">Open</a>
          </li>

          <li class="nhsuk-side-navigation__item">
            <a href="archive.html">Archive</a>
          </li>
        </ul>
      </nav>

  