      <nav class="nhsuk-side-navigation" aria-label="Side navigation">
        <h4 class="nhsuk-side-navigation__title">2023</h4>
        <ul class="nhsuk-side-navigation__list" style="list-style-type: none;">
          <li class="nhsuk-side-navigation__item nhsuk-side-navigation__item--active">
            <a href="P42_hypergraphs2.html" aria-current="location">P42 - Hypergraphs Contd</a>
          </li>
  
          <li class="nhsuk-side-navigation__item">
            <a href="P43_medcat.html">P43 - Automated Neurology Coding using MedCat</a>
          </li>

          <li class="nhsuk-side-navigation__item">
            <a href="c399_privfinger.html">C399 - Privacy Fingerprint</a>
          </li>
        </ul>
  
        <h4 class="nhsuk-side-navigation__title">2022</h4>
        <ul class="nhsuk-side-navigation__list" style="list-style-type: none;">
          <li class="nhsuk-side-navigation__item">
            <a href="p33_patientsafetylms.html">P33 - Evaulating LMs on Patient Safety Data</a>
          </li>
  
          <li class="nhsuk-side-navigation__item">
            <a href="p32_phmdiabetes.html">P32 - Using PHM data to understand Diabetes Inequalities</a>
          </li>
  
          <li class="nhsuk-side-navigation__item">
            <a href="p34_hypergraphs.html">P34 - Hypergraphs Exploration</a>
          </li>
        
        <li class="nhsuk-side-navigation__item">
            <a href="p31_txtrayalign2.html">P31 - Txt Ray Align Contd</a>
          </li>

        <li class="nhsuk-side-navigation__item">
            <a href="p24_lime.html">P24 - Local Interperable Model-Agnostic Explanations (LIME)</a>
          </li>
        
        <li class="nhsuk-side-navigation__item">
            <a href="p23_stm.html">P23 - Structural Topic Modelling</a>
          </li>

        <li class="nhsuk-side-navigation__item">
            <a href="p22_txtrayalign.html">P22 - Txt Ray Align</a>
          </li>

        <li class="nhsuk-side-navigation__item">
            <a href="p21_synthvae2.html">P21 - SynthVAE Contd</a>
          </li>

        <li class="nhsuk-side-navigation__item">
            <a href="c338_poud.html">C338 - Priacy of Unstructured Data</a>
          </li>

        <li class="nhsuk-side-navigation__item">
            <a href="c339_sas.html">C339 - Synthetic Adversarial Suite</a>
          </li>
        </ul>

        <h4 class="nhsuk-side-navigation__title">2021</h4>
        <ul class="nhsuk-side-navigation__list" style="list-style-type: none;">
          <li class="nhsuk-side-navigation__item">
            <a href="p14_mcr.html">P14 - Model Class Reliance</a>
          </li>

          <li class="nhsuk-side-navigation__item">
            <a href="p12_synthvae.html">P12 - SynthVAE</a>
          </li>
          
          <li class="nhsuk-side-navigation__item">
            <a href="p11_synpathdiabetes.html">P11 - SynPath-Diabetes</a>
          </li>
  
          <li class="nhsuk-side-navigation__item">
            <a href="c250_nhscorpus.html">C250 - NHS Corpus</a>
          </li>
  
          <li class="nhsuk-side-navigation__item">
            <a href="c245_synpath.html">C245 - SynPath</a>
          </li>
        </ul>
      </nav>

  