<!DOCTYPE html>
<html>

{% include header.html %}

<body>
  {% include navbar.html %}

  <script>
    document.body.className = document.body.className
      ? document.body.className + " js-enabled"
      : "js-enabled";
  </script>

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column">
          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Update: </span>
                2023 Applications for NHS England PhD Data Science Internships
              </span>
            </h3>
            <p>The opening of the internships will take place 4th December 2023. Applications need to be received by 15th December 2023. Interviews will take place 8th-12th January 2024, and the first round of project starts will be February 14th 2024 of thereabouts.</p>
          </div>
        

          {{ content }}
        </div>
      </div>
    </main>
  </div>

  {% include footer.html %}
</body>

<script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag-GitHub.js"></script>

</html>
